<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>企业能源数据托管平台</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <link rel="stylesheet" href="${request.contextPath}/statics/css/bootstrap.min.css">
  <link rel="stylesheet" href="${request.contextPath}/statics/css/font-awesome.min.css">

  <link rel="stylesheet" href="${request.contextPath}/statics/css/AdminLTE.min.css">
  <!-- AdminLTE Skins. Choose a skin from the css/skins
       folder instead of downloading all of them to reduce the load. -->
  <link rel="stylesheet" href="${request.contextPath}/statics/css/all-skins.min.css">
  <link rel="stylesheet" href="${request.contextPath}/statics/css/main.css">
  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->

    <style>
        page {
            background: url(${request.contextPath}/statics/images/home/bg_login.jpg) no-repeat fixed;
            background-size: 100% 100%;
        }
        .login-page, .register-page {
            background: url(${request.contextPath}/statics/images/home/bg_login.jpg) no-repeat fixed;
            background-size: 100% 100%;
        }
        .login-box-body,.login-box-msg{
            background-color: white;
            color:#00c1de;
        }
    </style>

</head>
<body class="hold-transition login-page">
<script>
    // $(document).ready(function () {
    //
    // })
    window.onload=function(){
        var a = document.getElementById("sifany-login");//获取div块对象
        var Height=document.documentElement.clientHeight;//取得浏览器页面可视区域的宽度
        var Width=document.documentElement.clientWidth;//取得浏览器页面可视区域的宽度
        var gao1 = a.offsetHeight;//获取div块的高度值
        var gao2 = a.offsetWidth;//获取div块的宽度值
        var Sgao1= 2*(Height - gao1)/5+"px";
        var Sgao2= (Width - gao2)/2+"px";
        a.style.top=Sgao1;
        a.style.left=Sgao2;
    }
</script>
<div class="login-box" id="rrapp" v-cloak >

    <div id="sifany-login" style="position: fixed;">
        <div class="login-logo" style="background: url(statics/images/modelbusiness/logo.png) no-repeat;background-size: 100% 100%;width:400px;margin-left:0px;">

        </div>
        <!-- /.login-logo -->
        <div style="height: 30px;"></div>
        <div class="login-box-body"  >
            <p class="login-box-msg">登录</p>
            <div v-if="error" class="alert alert-danger alert-dismissible">
                <h4 style="margin-bottom: 0px;"><i class="fa fa-exclamation-triangle"></i> {{errorMsg}}</h4>
            </div>
            <div class="form-group has-feedback">
                <input type="text" class="form-control" style="width:100%;height: 35px " v-model="username" placeholder="账号">
                <span class="glyphicon glyphicon-user form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
                <input type="password" class="form-control"  style="width:100%;height: 35px"  v-model="password" placeholder="密码">
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
            </div>
            <!--      <div class="form-group has-feedback" >-->
            <!--        <input type="text" class="form-control"  style="width:100%;height: 55px;"  v-model="captcha" @keyup.enter="login" placeholder="验证码">-->
            <!--        <span class="glyphicon glyphicon-warning-sign form-control-feedback"></span>-->
            <!--      </div>-->
            <!--      <div class="form-group has-feedback">-->
            <!--        <img alt="如果看不清楚，请单击图片刷新！" class="pointer" :src="src" @click="refreshCode">-->
            <!--        &nbsp;&nbsp;&nbsp;&nbsp;<a href="javascript:;" @click="refreshCode">点击刷新</a>-->
            <!--      </div>-->


            <div class="row">
                <!--        <div class="col-xs-8">-->
                <!--          <div class="checkbox icheck">-->
                <!--          </div>-->
                <!--        </div>-->
                <!-- /.col -->
                <div class="col-xs-12">
                    <button type="button" class="btn btn-primary btn-block btn-flat" @click="login" style="
           background: #5590f2;font-size: 16px;border-radius: 4px;
    height: 40px;width: 100%;">登录</button>
                </div>
                <!-- /.col -->
            </div>
            <!-- /.social-auth-links -->

        </div>
    </div>

  <!-- /.login-box-body -->
</div>
<!-- /.login-box -->
<link rel="stylesheet" href="${request.contextPath}/statics/css/user.css">
<script src="${request.contextPath}/statics/libs/jquery.min.js"></script>
<script src="${request.contextPath}/statics/libs/vue.min.js"></script>
<script src="${request.contextPath}/statics/libs/bootstrap.min.js"></script>
<script src="${request.contextPath}/statics/libs/jquery.slimscroll.min.js"></script>
<script src="${request.contextPath}/statics/libs/fastclick.min.js"></script>
<script src="${request.contextPath}/statics/libs/app.js"></script>
<script type="text/javascript">
var vm = new Vue({
	el:'#rrapp',
	data:{
		username: '',
		password: '',
		captcha: '',
		error: false,
		errorMsg: '',
		src: 'captcha.jpg'
	},
	beforeCreate: function(){
		if(self != top){
			top.location.href = self.location.href;
		}
	},
	methods: {
		refreshCode: function(){
			this.src = "captcha.jpg?t=" + $.now();
		},
		login: function (event) {
			var data = "username="+vm.username+"&password="+vm.password+"&captcha="+vm.captcha;
			$.ajax({
				type: "POST",
			    url: "sys/login",
			    data: data,
			    dataType: "json",
			    success: function(result){
					if(result.code == 0){//登录成功
						parent.location.href ='modules/sys/home.html';
					}else{
						vm.error = true;
						vm.errorMsg = result.msg;
						
						vm.refreshCode();
					}
				}
			});
		}
	}
});
</script>
<style>
    input{
        background: #fff;
        border-color: #5590f2;
        padding-left: 45px!important;
        color: #000;
    }
</style>
</body>
</html>
