<!DOCTYPE html>
<html>
<head>
    <title>动态表单</title>
		<#include "/header.html">
</head>

<div id="rrapp" v-cloak>
    <div v-show="showList">
        <table style="width: 100%;border-collapse: separate;border-spacing: 7px 7px;">
            <tr>
                <div class="grid-btn">
                    <td width="40%">
                    <#if shiro.hasPermission("sys:customtable:save")>
                    <a class="btn btn-primary" @click="add"><i class="fa fa-plus"></i>&nbsp;新增</a>
                    </#if>
                    <#if shiro.hasPermission("sys:customtable:update")>
                    <a class="btn btn-primary" @click="update"><i class="fa fa-pencil-square-o"></i>&nbsp;修改</a>
                    </#if>
                    <#if shiro.hasPermission("sys:customtable:delete")>
                    <a class="btn btn-primary" @click="del"><i class="fa fa-trash-o"></i>&nbsp;删除</a>
                    </#if>
                    </td>
                    <td width="57%">
                    <#if shiro.hasPermission("sys:customfield:save")>
                    <a class="btn btn-primary" @click="addfield"><i class="fa fa-plus"></i>&nbsp;新增</a>
                     </#if>
                    <#if shiro.hasPermission("sys:customfield:update")>
                    <a class="btn btn-primary" @click="updatefield"><i class="fa fa-pencil-square-o"></i>&nbsp;修改</a>
                    </#if>
                    <#if shiro.hasPermission("sys:customfield:delete")>
                    <a class="btn btn-primary" @click="delfield"><i class="fa fa-trash-o"></i>&nbsp;删除</a>
                    </#if>
                    </td>
                </div>
            </tr>
            <tr>
                <td width="40%">
                <table id="jqGrid"></table>
                <div id="jqGridPager"></div>
                </td>
                <td width="57%">
                   <table id="jqGrid1"></table>
                    <div id="jqGridPager1"></div>
                </td>
            </tr>
         </table>
    </div>

    <div v-show="subshowList" class="panel panel-default">
        <div class="panel-heading">{{title}}</div>
        <form class="form-horizontal">
														                    <div class="form-group">
                        <div class="col-sm-2 control-label">编码</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="customTable.code" placeholder=""/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">名称</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="customTable.name" placeholder=""/>
                        </div>
                    </div>

							            <div class="form-group">
                <div class="col-sm-2 control-label"></div>
                <input type="button" class="btn btn-primary" id="btnSaveOrUpdate" data-loading-text="保存中..." @click="saveOrUpdate" value="确定"/>
                &nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>
            </div>
            <div class="form-group"></div>
        </form>
    </div>
    <div v-show="showListfield" class="panel panel-default">
        <div class="panel-heading">{{title}}</div>
        <form class="form-horizontal">
            <!--								                    <div class="form-group">
            <div class="col-sm-2 control-label">对象id</div>
            <div class="col-sm-10">
                <input type="text" class="form-control" v-model="customfield.id" placeholder="id"/>
            </div>
        </div>-->
            <div class="form-group">
                <div class="col-sm-2 control-label">名称</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="customfield.name" placeholder="名称"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">排序</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="customfield.sort" placeholder="排序"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">表单id</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="customfield.fieldId" placeholder="表单id"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label"></div>
                <input type="button" class="btn btn-primary" id="btnSaveOrUpdatefield" data-loading-text="保存中..." @click="saveOrUpdatefield" value="确定"/>
                &nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reloadfield" value="返回"/>
            </div>
            <div class="form-group"></div>
        </form>
    </div>
</div>
<link rel="stylesheet" href="${request.contextPath}/statics/css/user.css">
<script src="${request.contextPath}/statics/js/modules/sys/customtable.js?_${.now?long}"></script>
</body>
</html>