<!DOCTYPE html>
<html>
<head>
    <title>首页</title>
</head>
<body style="width: 100%;height:100%">
<div id="bg">
    <div id="top">
        <div id="content">
            <table class="main" valign="center" align="center">
                <tr>
                    <td class="name">
                        <p class="main_title">系统管理</p>
                    </td>
                    <td class="name">
                        <p class="main_title">计算服务</p>
                    </td>
                    <td class="name">
                        <p class="main_title">数据服务</p>
                    </td>
                </tr>

                <tr>
                    <td class="name">
                        <table class="menu">
                            <tr>
                                <td class="menuchild">
                                    <a href="${request.contextPath}/index.html#modules/sys/user.html">
                                        <img class="icon"  id="icon-06" src="../../statics/images/home/icon-06.png" />
                                        <p class="title">管理员管理</p>
                                    </a>
                                </td>
                                <td class="menuchild">
                                    <a href="${request.contextPath}/index.html#modules/sys/dept.html">
                                        <img class="icon"  id="icon-09" src="../../statics/images/home/icon-09.png" />
                                        <p class="title">部门管理</p>
                                    </a>
                                </td>

                            </tr>
                            <tr>
                                <td class="menuchild">
                                    <a href="${request.contextPath}/index.html#modules/sys/role.html">
                                        <img  class="icon"  id="icon-10" src="../../statics/images/home/icon-10.png" />
                                        <p class="title">角色管理</p>
                                    </a>
                                </td>
                                <td class="menuchild">
                                    <a href="${request.contextPath}/index.html#modules/sys/log.html">
                                        <img class="icon"  id="icon-08" src="../../statics/images/home/icon-08.png" />
                                        <p class="title">系统日志</p>
                                    </a>
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td class="name">
                        <table class="menu">
                            <tr>
                                <td class="menuchild">
                                    <a href="#">
                                        <img class="icon"  id="icon-05" src="../../statics/images/home/icon-05.png" />
                                        <p class="title">算法库</p>
                                    </a>
                                </td>
                                <td class="menuchild">
                                    <a href="${request.contextPath}/index.html#modules/job/schedule.html">
                                        <img  class="icon"  id="icon-12" src="../../statics/images/home/icon-12.png" />
                                        <p class="title">定时任务</p>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td class="menuchild">
                                <a href="#">
                                    <img class="icon" id="icon-01" src="../../statics/images/home/icon-01.png" />
                                    <p class="title">算法工程</p>
                                </a>
                                </td>
                                <td class="menuchild">
                                    <a href="http://10.0.0.9:10137">
                                        <img class="icon"  id="icon-07" src="../../statics/images/home/icon-07.png" />
                                        <p class="title">数据源</p>
                                    </a>
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td class="name">
                        <table class="menu">
                            <tr>
                                <td class="menuchild">
                                    <a href="${request.contextPath}/index.html#modules/sys/modelalgorithms.html">
                                        <img class="icon" id="icon-03" src="../../statics/images/home/icon-03.png" />
                                        <p class="title">采集建模</p>
                                    </a>
                                </td>
                                <td class="menuchild">
                                    <a href="${request.contextPath}/index.html#modules/sys/modelbus.html">
                                        <img class="icon" id="icon-04" src="../../statics/images/home/icon-04.png" />
                                        <p class="title">业务建模</p>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td class="menuchild">
                                    <a href="${request.contextPath}/index.html#modules/sys/modelalgorithms.html">
                                        <img class="icon"  id="icon-11" src="../../statics/images/home/icon-11.png" />
                                        <p class="title">装备建模</p>
                                    </a>
                                </td>
                                <td class="menuchild">
                                    <a href="${request.contextPath}/index.html#druid/sql.html">
                                        <img class="icon" id="icon-02" src="../../statics/images/home/icon-02.png" />
                                        <p class="title">SQL监控</p>
                                    </a>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
<link rel="stylesheet" href="${request.contextPath}/statics/css/home.css">
</body>
</html>
