<!DOCTYPE html>
<html>
<head>
    <title>首页</title>
</head>
<body style="width: 100%;height:100%">
<div id="bg">
    <div id="top">
        <div id="content">
            <table class="main" valign="center" align="center">

                <tr>
                    <td class="">
                        <a href="${request.contextPath}/index.html#modules/sys/modelhealth.html" target="_blank">
                            <img class="icon"  src="../../statics/images/home/icon-05.png" />
                            <p class="title">设备诊断</p>
                        </a>
                    </td>
                    <td class="">
                        <a href="${request.contextPath}/index.html#modules/sys/modelhealth.html" target="_blank">
                            <img  class="icon" src="../../statics/images/home/icon-12.png" />
                            <p class="title">健康总览</p>
                        </a>
                    </td>
                    <td class="">
                        <a href="${request.contextPath}/index.html#modules/sys/modelhealth.html" target="_blank">
                            <img class="icon" src="../../statics/images/home/icon-01.png" />
                            <p class="title">系统诊断</p>
                        </a>
                    </td>
                    <td class="">
                        <a href="">
                            <img class="icon"  src="../../statics/images/home/icon-07.png" />
                            <p class="title">综合分析</p>
                        </a>
                    </td>
                    <td class="">
                        <a href="#">
                            <img class="icon" src="../../statics/images/home/icon-01.png" />
                            <p class="title">任务剖面</p>
                        </a>
                    </td>
                    <td class="">
                    </td>
                </tr>
                <tr>

                    <td class="">
                        <a href="${request.contextPath}/index.html#modules/sys/customtablebase.html?id=9" target="_blank">
                            <img class="icon" src="../../statics/images/home/icon-04.png" />
                            <p class="title">项目管理</p>
                        </a>
                    </td>
                    <td class="">
                        <a href="${request.contextPath}/index.html#modules/sys/customtablebase.html?id=1" target="_blank">
                            <img class="icon" src="../../statics/images/home/icon-11.png" />
                            <p class="title">使用记录</p>
                        </a>
                    </td>
                    <td class="">
                        <a href="${request.contextPath}/index.html#modules/sys/customtablebase.html?id=5" target="_blank">
                            <img class="icon" src="../../statics/images/home/icon-02.png" />
                            <p class="title">故障记录</p>
                        </a>
                    </td>
                    <td class="">
                        <a href="${request.contextPath}/index.html#modules/sys/customtablebase.html?id=6" target="_blank">
                            <img class="icon" src="../../statics/images/home/icon-02.png" />
                            <p class="title">修理记录</p>
                        </a>
                    </td>
                    <td class="">
                        <a href="${request.contextPath}/index.html#modules/sys/customtablebase.html?id=7" target="_blank">
                            <img class="icon" src="../../statics/images/home/icon-02.png" />
                            <p class="title">主要零部件更换</p>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td class="">
                        <a href="${request.contextPath}/index.html#modules/sys/customtablebase.html?id=8" target="_blank">
                            <img class="icon" src="../../statics/images/home/icon-03.png" />
                            <p class="title">企业管理</p>
                        </a>
                    </td>
                </tr>
            </table>

        </div>
    </div>
</div>
<link rel="stylesheet" href="${request.contextPath}/statics/css/home.css">
</body>
</html>
