<!DOCTYPE html>
<html>
<head>
    <title>模型类属性</title>
    <#include "/header.html">
</head>
<body style="background: transparent">
<div id="rrapp" v-cloak>
    <div v-show="showList" class="sifany-pm">

        <table style="width: 100%;" class="sifany-pm">
            <tr>
                <td id="menu" width="20%" style="vertical-align:top" ><!-- 选择父类-->

                    <div id="classLayerMain" style="padding:10px;">
                        <ul id="classTreeMain" class="ztree"></ul>
                    </div>
                </td>

                <td style="width: 80%">

                    <#if shiro.hasPermission("sys:sifanyobjattr:save")>
                    <a class="btn btn-primary" @click="configmenu"><i class="fa fa-plus"></i>&nbsp;编辑</a>
                </#if>
                <a class="btn btn-primary" @click="copyurl"><i class="fa fa-plus"></i>&nbsp;分享组态</a>
                <div  class="layui-tab layui-tab-card" style="height:96%;">
                    <div  style="display: none">
                        <input type="text"  v-model="sifanyObj.id"  placeholder="id"/>
                        <input type="text"  v-model="sifanyObj.modelId"  placeholder="图标"/>
                    </div>
                    <div v-if="sifanyObj.nodeType==0">
                        <div style=" position: absolute;left: 50%;top: 40%;text-align:center;vertical-align:middle;">当前节点不是接线图</div>
                    </div>
                    <div style="padding:20px;" v-else="sifanyObj.nodeType==1">
                        <div>
                            <iframe src="${request.contextPath}/statics/gojs/samples/show.html"
                                    width="99%" id="config-swan-svg0" onload="changeFrameHeight(this)"></iframe>
                        </div>
                    </div>
                </div>
                </td>

                <!--<td width="500px" style="padding: 0;margin: 0;">


                </td>-->
            </tr>
        </table>
    </div>
</div>




<script src="${request.contextPath}/statics/js/modules/sys/modelbus.js?_${.now?long}"></script>
<script src="${request.contextPath}/statics/plugins/layui/lay/dest/layui.all.js"></script>
<link rel="stylesheet" href="${request.contextPath}/statics/plugins/layui/css/layui.css">
<link rel="stylesheet" href="${request.contextPath}/statics/css/modelbusiness.css">
</body>
</html>
