<!DOCTYPE html>
<html>
<head>
    <title>首页</title>
</head>
<body>
<div id="bg">
    <div class="main">
        <table class="main_table">
            <tr>
                <td  class="title">
                    <span>标识</span>
                </td>
            </tr>
            <tr>
                <td class="content">
                    <table class="child_table">
                        <tr>
                            <td style="border-style: none">
                                <p style="text-align: left">系统：</p>
                            </td>
                            <td style="border-style: none">
                                <p style="text-align: left">高信能耗管理系统</p>
                            </td>
                        </tr>
                        <tr>
                            <td style="border-style: none">
                                <p style="text-align: left">日期：</p>
                            </td>
                            <td style="border-style: none">
                                <p style="text-align: left"> 2019.12.14</p>
                            </td>
                        </tr>
                        <tr>
                            <td style="border-style: none">
                                <p style="text-align: left"> 时间：</p>
                            </td>
                            <td style="border-style: none">
                                <p style="text-align: left"> 14：13</p>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </div>
    <div>
        <table class="main_table">
            <tr>
                <td class="title">
                    <span>维修决策</span>
                </td>
            </tr>
            <tr>
                <td class="content">
                    <table class="child_table">
                        <tr>
                            <td>
                                <p>编号</p>
                            </td>
                            <td>
                                <p>系统名称</p>
                            </td>
                            <td>
                                <p>维修数量</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>1</p>
                            </td>
                            <td>
                                <p>能耗采集系统</p>
                            </td>
                            <td>
                                <p>10项</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>2</p>
                            </td>
                            <td>
                                <p>能耗监控系统</p>
                            </td>
                            <td>
                                <p>30项</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>3</p>
                            </td>
                            <td>
                                <p>能耗预警系统</p>
                            </td>
                            <td>
                                <p>20项</p>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </div>
    <div>
        <table class="main_table">
            <tr>
                <td class="title">
                    <span>寿命预测</span>
                </td>
            </tr>
            <tr>
                <td class="content">
                    <table class="child_table">
                        <tr>
                            <td>
                                <p>编号</p>
                            </td>
                            <td>
                                <p>系统名称</p>
                            </td>
                            <td>
                                <p>设备名称</p>
                            </td>
                            <td>
                                <p>预计寿命</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>1</p>
                            </td>
                            <td>
                                <p>能耗采集系统</p>
                            </td>
                            <td>
                                <p>水压感应器</p>
                            </td>
                            <td>
                                <p>10h</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>2</p>
                            </td>
                            <td>
                                <p>能耗监控系统</p>
                            </td>
                            <td>
                                <p>液压泵</p>
                            </td>
                            <td>
                                <p>30h</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>3</p>
                            </td>
                            <td>
                                <p>能耗预警系统</p>
                            </td>
                            <td>
                                <p>报警装置</p>
                            </td>
                            <td>
                                <p>20h</p>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </div>
    <div>
        <table class="main_table">
            <tr>
                <td class="title">
                    <span>健康评估</span>
                </td>
            </tr>
            <tr>
                <td class="content">
                    <img  src="../../statics/images/home/chart.png" />
                </td>
            </tr>
        </table>
    </div>
    <div>
        <table class="main_table">
            <tr>
                <td class="title">
                    <span>状态评估</span>
                </td>
            </tr>
            <tr>
                <td class="content">
                    <table class="child_table">
                        <tr>
                            <td>
                                <p>编号</p>
                            </td>
                            <td>
                                <p>系统名称</p>
                            </td>
                            <td>
                                <p>数量</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>1</p>
                            </td>
                            <td>
                                <p>能耗采集系统</p>
                            </td>
                            <td>
                                <p>10个</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>2</p>
                            </td>
                            <td>
                                <p>能耗监控系统</p>
                            </td>
                            <td>
                                <p>30个</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>3</p>
                            </td>
                            <td>
                                <p>能耗预警系统</p>
                            </td>
                            <td>
                                <p>20个</p>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </div>
</div>
<link rel="stylesheet" href="${request.contextPath}/statics/css/superset_show.css">
</body>
</html>
