html,body{
    margin: 0;
    padding: 0;
}
#bg{
    width: 100%;
    height: 100%;
    padding: 0;
    opacity:1;
    margin-top: 0;
    margin-left: 0;
    background:url(../images/home/bg3.png) no-repeat;
    position: fixed;
    background-size: 100% 100%;
    /*background: #0a0a0a;*/
}

#top{
    width: 100%;
    height: 100%;
    /*padding: 0;*/
    opacity:1;
    margin: 0;
    position: fixed;
    /*background:url(../images/home/header-nav-bg.png) no-repeat;*/
    background-size: 100%;
    z-index:88;
}

#content{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
.main{
    width: 100%;
    margin-top: 10%;
    border-collapse: separate;
    border-spacing: 100px 20px;
    text-align: center;
}
a{
    text-decoration: none;
}
.name{
    width: 33%;
    text-align: center;
    vertical-align: middle;
}
.icon{
    height: 80px;
}
.icon:hover{
    opacity:0.6;
}

.title{
    font-size:20px;
    font-family:Source Han Sans CN;
    font-weight:400;
    color:#fff;
    line-height:10px;
}
.menu{
    margin: 0 auto;
    width:80%;
    height: 200px;
    border-collapse: separate;
    border-spacing: 10px 10px;
    text-align: center;
    /*background:url(../images/home/menub.png) no-repeat;*/
    /*position: fixed;*/
    background-color: rgba(16,162,252,0.1);
    background-size: 100% 100%;

}
.menuchild{
    width: 33.3%;
}
.main_title{
    width: 80%;
    margin: 0 auto;
    vertical-align: middle;
    text-align: center;
    color:#CDE1ED;
    font-size: 20px;
    /*background:url(../images/home/menu_top.png) no-repeat;*/
    /*position: fixed;*/
    background-size: 100% 100%;
}

.sifany-logo{
    width: 294px;
    height: 80px;
    background: url(../images/home/header-logo-bg.png) no-repeat fixed;
    padding-left: 25px;
    font-size: 20px;
    align-items: baseline;
    padding-top: 24px;
    position: absolute;
    left: 0;
    top: 0;
    z-index:99;
    color:white;
}
.sifany-header-top{
    /*position: absolute;*/
    height: 33px;
    background: url(../images/home/header-nav-bg.png) 294px 0 no-repeat;
    background-size: calc(100vw - 294px) 46px;
    padding-left: 0;
    box-shadow: none;
}
.sifany-user-logo{
    -webkit-tap-highlight-color: transparent;
    direction: ltr;
    cursor: pointer;
    font-family: "Chinese Quote",-apple-system,BlinkMacSystemFont,"Segoe UI","PingFang SC","Hiragino Sans GB","Microsoft YaHei","Helvetica Neue",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 14px;
    font-variant: tabular-nums;
    list-style: none;
    text-align: center;
    color: #fff;
    white-space: nowrap;
    box-sizing: border-box;
    border: 0;
    vertical-align: middle;
    border-style: none;
    line-height: 24px;
    /*width: 100%;*/
    height: 24px;
    display: block;
    border-radius: 50%;
}
p{
    padding-top: 10px;
}
