html { overflow-x:hidden; }
.content-header {
	position: relative;
	padding: 0 0 3px 8px
}

.content-header>.breadcrumb {
    width: 30%;
    position: relative;
    top: 0;
    right: 0;
    float: none;
    color: #fff;
    margin-top: 0px;
    padding-left: 10px;
    background:url(../images/modelbusiness/menub.png) no-repeat;
    background-size: 100% 100%;
}

.main-footer {
    padding: 7px;
    color: #fff;
    background: transparent;

}

[v-cloak] {
  display: none;
}

.grid-btn{
	margin-bottom:12px;
}
.grid-btn .btn{
	margin-right:10px;
}
.pointer{cursor: pointer;}

.ml-10 { margin-left:0 !important; }
@media (min-width: 768px) {
	.ml-10 { margin-left:10px !important; }
	.col-sm-10 {width: 70%;padding-left: 0px;}
	.col-sm-2 {width: 24%;}
}
tbody > tr > th {font-weight: normal; }
.panel .table { margin:0 0; }
.panel .pagination { margin:0; }
.panel-default>.panel-heading {font-size:20px;text-align: left;height:50px;letter-spacing:10px;margin:0 auto;color: #fff;padding-left: 100px;}
.row{
	border-top: 1px solid #ddd;
	margin:0;
	padding:20px 2px 0px 2px;
}
.col-xs-6{padding-left: 0px;padding-right: 0px;}
.form-horizontal .form-group {margin-left:0px;margin-right:0px;}
.form-horizontal{
	width:550px;padding-top:20px;
}

.div-inline{
    display:inline
}
.svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    vertical-align: middle;
    overflow: hidden;
}

.ui-jqgrid {
    background-color: rgba(85, 144, 242, 0.14);
    padding: 8px;
    border: 1px solid rgba(85, 144, 242, 0.14);
}
.table-bordered>tbody>tr>td, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>td, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>thead>tr>th {
    border:1px solid #435d80;
}
table>thead >tr>th,treegrid-thead>tr>th {
    background: #294c95;
    transition: background .3s;
    color: #fff;
    font-weight: 500;

    text-align: center;
    border: none;
    border-right: 1px solid #435d80;
    border-bottom: 1px solid #435d80;
}

table>thead >tr:hover {
    background: rgba(85,144,242,.14);
}


table>tbody>tr>td ,.treegrid-tbody td{
    border: none;
    border-right: 1px solid #435d80;
    border-bottom: 1px solid #435d80;
}
.table {

    border: 1px solid #435d80;
}
.table-responsive{
    border: 1px solid #435d80;
}
.main-footer{
    border-top:1px solid #435d80;
}
.ui-jqgrid .ui-jqgrid-pager, .ui-jqgrid .ui-jqgrid-toppager {

    border-top:none;

}
.panel{
    background: none;
}
.sidebar-menu >li>a{

    width: 250px;
}
.navbar-static-top{
    background-color: rgba(85, 144, 242, 0.14);
}
.sidebar-menu>li>a>.glyphicon, .sidebar-menu>li>a>.ion {
    width: 250px;
}
.main-sidebar{
    background: rgba(85, 144, 242, 0.14);
    border-radius: 5px;
    border: 1px solid transparent;
    width:100px;
    color: #fff;
}