html,body{
    margin: 0;
    padding: 0;
    color: #fff;
}
html,body{height:100%;}
#rrapp{height:99%; }
.sifany-pm{
    height:100%;
}
a{
    text-decoration: none;
    color: #3F8CDD;
}
a:hover{
    text-decoration: none;
    color: #CDE1ED;
}
#bg{
    width: 100%;
    height: 100%;
    background:url(../images/modelbusiness/menu.png) no-repeat;
    position: fixed;
    background-size: 100% 100%;
}
#content{
    width: 96%;
    height: 70%;
    margin-top: 8%;
    margin-left: 2%;
}
#top{
    width: 96%;
    height: 7%;
    margin-top: 2%;
    margin-left: 2%;
    position: fixed;
    color: #3F8CDD;
}
#top_logo{
    float: left;
    width: 50%;
    height: 80%;
}
#logo{
    width:70%;
    height: 70%;
    margin-left: 10%;
}
#top_table{
    width: 100%;
    height: 100%;
}
#top_td_1{
    width: 35%;
    height: 100%;
    background:url(../images/modelbusiness/top_logo.png) no-repeat;
    background-size: 100% 100%;

}
#top_td_2{
     width: 35%;
    height: 100%;
 }
#top_td_3{
    width: 30%;
    height: 100%;
}

#menu_top1{
    float: right;
    width: 49%;
    height: 100%;
}
#d1{
    float: left;
    width: 2%;
    height: 100%;
}
#menu_top2{
    float: left;
    width: 49%;
    height: 100%;
}
.menu_top{
    width:48%;
    height: 60%;
    margin-top: 5%;
    background:url(../images/modelbusiness/menu_top.png) no-repeat;
    background-size: 100% 100%;
}
.select_menu{
    float: left;
    width:48%;
    height: 60%;
    margin-top: 5%;
    background:url(../images/modelbusiness/bg2.png) no-repeat;
    background-size: 100% 100%;
    color: #CDE1ED;
}
#home{
    float: left;
}
#modelequip{
    float: right;
}
#business{
    float: left;
}
#modelalgo{
    float: right;
}
#menu{
    background:url(../images/modelbusiness/menub.png) no-repeat;
    background-size: 100% 100%;
}

#user{
    width: 50%;
    height: 100%;
    float: right;
}
#user_table{
    width: 100%;
    height: 100%;
}
input{
    text-align: center;
    vertical-align: middle;
    border-style: none;
    background-color: transparent;
    background: url(../images/modelbusiness/bg_input.png) no-repeat;
    background-size: 100% 100%;
}
select{
    width:110px;
    height:26px;
    text-align: center;
    vertical-align: middle;
    border-style: none;
    background-color: transparent;
    background: url(../images/modelbusiness/bg_input.png) no-repeat;
    background-size: 100% 100%;
    text-align-last: center;
}
option{
    color: #000;
}
.input_data{
    height: 40px;
}
.param_update{
    width: 100%;
    border-collapse: separate;
    border-spacing: 30px 30px;
    font-size: 16px;
}

.form-control{
    width:180px;
    height:40px;
    text-align: center;
    vertical-align: middle;
    border-style: none;
    background-color: transparent;
    background: url(../images/modelbusiness/bg_input.png) no-repeat;
    background-size: 100% 100%;
    text-align-last: center;
}

.sag{
    border:1px solid #FFFFFF;
    width:65%;
    height: 90%;
    margin-left: 10px;
    padding:10px;
    margin-top: 15px;
}

.propsag{

    width:65%;
    height: 45%;
    margin-left: 10px;
  /*  padding:10px;*/
    /*margin-top: 15px;*/
}

.s-config {
    position: absolute;padding: 0px;margin: 0px;font-size: 1px;text-align: left;overflow: hidden;z-index: 2;cursor: w-resize;left: 300px;height: 479px;width: 6px;top: 0px;
}
.sin-config{
    position: absolute; display: block; padding: 0px; margin: 0px; overflow: hidden; text-align: center; font-size: 1px; cursor: pointer; z-index: 1; visibility: visible; height: 50px; width: 6px; top: 214px; left: 0px;
}
.ui-layout-toggler {
    background: rgba(85, 144, 242, 0.14) !important;
    border: 0;
}
.btnj{
    z-index: 9999;
    width: 80px;
    height: 30px;
    background: #0099CC;
    border-style: none;
    color: #fff;
    border-radius: 5px;
}
.btnj:hover{
    background: #66ccff;
}
.file {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
    display: none;
}
label {
    font-size: 1.25em;
    font-weight: 700;
    color: white;
    background-color: black;
    display: inline-block;
}
.inputfile:focus + label,
.file + label:hover {
    background-color: red;
}
#classLayerMain{
    height:100%; overflow:auto;
}

#classLayerMain::-webkit-scrollbar {
    width: 2px;
}
#classLayerMain::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    /* background: rgba(0,0,0,0.2);*/
    background-color: #6fb3e0;
}
#classLayerMain::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    border-radius: 0;
    background: rgba(0,0,0,0.1);

}
.ztree li span.button.icon05_ico_docu{background: url(../plugins/ztree/css/zTreeStyle/img/diy/8.png);background-color: transparent;width:15px;height:15px;}